body{
    overflow-x: hidden;
}
.leftPanelContainer{
    position: fixed;
    top: 80px;
    bottom: 0px;
}
.canvasContainer{
    position: fixed;
    top: 80px;
    bottom: 0px;
}
.lgSize{
    width: 1170px;
}
.mdSize{
    width: 970px;
}
.smSize{
    width: 750px;
}
.xsSize{
    width: 500px;
}
